body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    justify-content: center;
}

.head{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
}

.head > div {
    display: inline-block;
}

.img_head_sito{
    max-height: 190px;
    width: auto;
    padding: 10px 30px;
    display: inline-block;
}

.img_head_col {
    max-height: 190px;
    width: auto;
    padding: 10px 300px;
    display: inline-block;
}

nav{
    background-color: #444;
    content: "";
    display: table;
    box-sizing: border-box;  
    padding: 0px 0;
    height: 20px;
    min-width: 100%;
    min-height: 3%;
    flex-basis: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0;
    display: flex;
    justify-content: center;
}

nav ul li button:hover {
    background-color: #00aafb;  /* colore al passaggio del mouse */
    transition: 0.3s;  /* transizione fluida (opzionale) */
}

nav ul li button {
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    background-color: transparent;  
    border: none;  
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
    min-height: 20px;
}

.articoli{
    display: flex;
    justify-content: center;
}

.articolo_home{
    background-color: aquamarine;
    align-items: center;
    display: flex;
    width: 40rcap;
    border-radius: 8px;
    overflow: hidden;
}

.testo_articolo_home{
    font: arial;
    align-self: flex-start;
    padding: 10px;
}

.img_articolo_home{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.banner{
    width: auto;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;

    border-radius: 8px;
    overflow: hidden;
    padding: 30px;
}
